@font-face {
    font-family: "Bodoni Moda";
    src: url("../Fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf") format("true type");
    src: url("../Fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf") format("true type");
    src: local("Bodoni Moda"), local("Bodoni_Moda");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FFF8E1;
    font-family: "Bodoni Moda", serif;
}

.container {
    width: 1216px;
    height: 50%;
    padding: 50px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header_title {
    font-size: 28px;
    font-style: italic;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.401);
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_icon {
    width: 32px;
    height: 32px;
    color: #ff5733;
}

.header_subtitle {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.row {
    display: flex; 
    justify-content: center;
    gap: 20px;
}

.product {
    width: 100%;
    border-radius: 10px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 4px 5px 8px 1px rgb(255 212 174 / 60%);
    display: flex;
    flex-direction: column;
}

a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
}

a:link {
    color: #000000;
}

a:visited {
    color: #878787b6;
}

a:hover {
    color: #ff5733;
}

img {
    width: 100%;
    margin-bottom: 26px;
}

.product_link {
    height: 80px;
}

.price_offer {
    margin-top: 28px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.price_offer_percent {
    display: inline-block;
    border-radius: 6px;
    color: #ff4d00;
    background-color: rgba(255, 119, 51, 0.291);
    font-weight: bold;
    padding: 2px 4px;
}

.price_offer_number {
    font-size: 16px;
    text-decoration: line-through;
    color: #787878c6;
}

.price_final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.price_final_number {
    font-size: 20px;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 6px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating_star {
    width: 20px;
    height: 20px;
    fill: #ff4d00;

}
