@font-face {
    font-family: "Roboto";
    src: local("Roboto-VariableFont_wdth\,wght"), url("../Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    color: beige;
    background: #080710;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* so circles don't create scrollbars */
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
}

:root {
    --circle-size: calc(50 * 400px / 100);
}

.container::before {
    content: "";
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    top: -100px;
    left: -100px;
    background: linear-gradient(280deg, #02007a, #44f6f6);
    border-radius: 100%;
    z-index: -1;
}

.container::after {
    content: "";
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    bottom: -100px;
    right: -100px;
    background: linear-gradient(105deg, #ff003c, #fffd87);
    border-radius: 100%;
    z-index: -1;
}

.container {
    position: relative;
    width: 400px;
    height: 500px;
    background:rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    padding: 35px;
    margin: 50px auto;
}

#login-title {
    font-size: 32px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 10px;
    margin-top: 5px;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

#login-button {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.signup {
    display: block;
    text-align: center;
    color: #f5f5dc4f;
}

#signup-link {
    color: #ffffff;
    text-decoration: none;
}
